//start nav//////////////////////////////////////////////////////////////////////////////////////


nav#header_menu {
    // width: 200px;
    margin: 20px;


    span#click_show_menu {
        width: 44px;
        height: 44px;
        position: relative;
        cursor: pointer;
        display: none;
        background: palevioletred;

        @media #{$mobile-big} {
            display: block;

        }

        &::after {
            width: 100%;
            position: absolute;
            top: calc(50% - 2px);
            content: "";
            border-style: solid;
            border-color: rgb(0, 0, 0);
            height: 12px;
            transform: rotate(0deg);
            border-width: 4px 0px 4px 0px;
            transition: 1s transform;
            transition: .5s border-width;

        }

        &::before {

            top: 4px;
            position: absolute;
            content: "";
            border-style: solid;
            border-width: 4px 0px 4px 0px;
            width: 100%;
            height: 12px;
            border-color: rgb(0, 0, 0);
            transform: rotate(0deg);
            transition: 1s transform;
            transition: .5s border-width;
        }

        // &:hover {

        //     &::after {
        //         height: 0;
        //         border-width: 4px 0px 0px 0px;
        //         transform: rotate(45deg);
        //         transition: 3s transform;
        //     }

        //     &::before {
        //         top: calc(50% - 2px);
        //         height: 0;
        //         transition: 3s transform;
        //         border-width: 4px 0px 0px 0px;
        //         transform: rotate(-45deg);

        //     }
        // }

        &.active {

            &::after {
                height: 0;
                border-width: 4px 0px 0px 0px;
                transform: rotate(45deg);
                transition: 3s transform;
            }

            &::before {
                top: calc(50% - 2px);
                height: 0;
                transition: 3s transform;
                border-width: 4px 0px 0px 0px;
                transform: rotate(-45deg);

            }
        }

        // &:hover ul.menu li {
        //     // visibility: visible;
        //     transition: 3s;
        //     // display: block;
        // }

    }

    ul.menu {
        visibility: visible;
        z-index: 9995;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // width: 100%;

        @media #{$mobile-big} {
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            width: 143px;
        }

        &.active {
            visibility: visible;
        }


        // display: none;
        // position: absolute;
        // visibility: hidden;
        // li {
        //     // display: none;
        // }

        a {
            background: #3d3d3d;
            color: #fff;
            padding: 10px;
            // visibility: hidden;
            // display: none;
            display: block;
            border-bottom: 1px solid #666;
            transition: 0.5s all;
            width: 141px;
        }

        a:hover {
            background: #666;
            padding: 10px 0 10px 20px;
        }

        // .menu li:first-child>a {border-radius: 3px 3px 0 0;}
        // .menu li:last-child>a {border-radius: 0 0 3px 3px; border-bottom: 0;}﻿
        // .menu__drop li:only-child>a {border-radius: 3px; border-bottom: 0;}
        // li:first-child a,
        // li .menu__drop li:first-child a {
        //     border-radius: 3px 3px 0 0;
        // }
        li .menu__drop li:last-child a {
            border-radius: 0px 0px 3px 3px;
        }


        @media #{$mobile-big} {

            li:first-child a,
            li .menu__drop li:first-child a {
                border-radius: 3px 3px 0 0;
            }

            li:last-child a,
            li .menu__drop li:last-child a {
                border-radius: 0 0 3px 3px;
                border-bottom: 0;
            }
        }

        li .menu__drop li a {
            border-radius: 0;
            border-bottom: 1px solid #666;
        }

        .menu__list {

            position: relative;

            .menu__drop {
                border-top: 10px solid transparent;
                position: absolute;
                width: 100%;
                left: 0;
                top: -100vh;
                opacity: 0;
                transition: 0.5s opacity;
                z-index: 9995;

                @media #{$mobile-big} {
                    border-top: unset;
                    border-left: 10px solid transparent;
                    left: 100%;

                }
            }
        }


        .menu__list:hover .menu__drop {
            opacity: 1;
            top: 100%;

            @media #{$mobile-big} {
                top: 0;
            }
        }


        .menu__list::after {
            content: " ";
            position: absolute;
            border: 5px solid;
            border-color: #eee transparent transparent transparent;
            top: 1em;
            right: 0.7em;
            -webkit-transition: 0.5s;
            transition: 0.5s;

            @media #{$mobile-big} {
                border-color: transparent transparent transparent #eee;

            }
        }

        .menu__list:hover::after {
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            transform: scaleY(-1);

            @media #{$mobile-big} {
                transform: scaleX(-1);

            }
        }
    }








}


//end nav//////////////////////////////////////////////////////////////////////////////////////